/* colors
#111111
#A7A6A7
#363636
#FFFFFF
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #C9B194;
  color: #333;
  padding: 20px;

}

nav {
  padding: 15px 0px 10px 0px;
}

#currentDate {
  text-align: center;
}

.experience {
  display: flex;
  justify-content: center;
}

.experience li {
  padding-right: 5px;
}

h1 {
  font-family: "Yeseva One",
    serif;
  color: #706D54;
  font-size: 50px;
}

h2 {
  font-family: "Yeseva One",
    serif;
  color: #706D54;
  font-size: 30px;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

nav a,
footer a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

a {
  color: #706D54;
}

a:hover {
  color: #DBDBDB;
}

ul {
  list-style-type: circle;

}

section {
  margin-bottom: 20px;
  padding: 10px;
}

section .edu {
  margin: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  border: 1px solid #706D54;
  padding: 8px;

}

th {
  color: #706D54;
  font-family: "Yeseva One",
    serif;
}

.section-header {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;

}

.sub-header {
  font-weight: bold;
  text-align: center;
}

p,
strong {
  padding: 10px 0px 10px 0px;
}

.career-goals-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  padding-bottom: 20px;
}

.goal-box {
  border: 2px solid #706D54;
  border-radius: 8px;
  padding: 16px;

}

.goal-title {

  margin-bottom: 8px;
  color: #DBDBDB;
  font-family: "Yeseva One",
    serif;
}

mark {
  background-color: #DBDBDB;
}

form {
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

label {
  font-family: "Yeseva One",
    serif;
}

input,
button {
  background-color: #C9B194;
  border: 1px solid #DBDBDB;
  padding: 5px;
  width: 100%;
  margin: 5px;
}

textarea {
  width: 100%;
  height: 200px;
}

button,
span {
  font-size: 18px;
  font-family: "Yeseva One",
    serif;
}

button:hover,
#radio:hover {
  cursor: pointer;
}


footer {
  padding-top: 10px;
  text-align: center;
}

footer .sig {
  padding-top: 10px;
  color: #706D54;
}