/* colors
#111111
#A7A6A7
#363636
#FFFFFF
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #C9B194;
  color: #333;
  padding: 20px;

}

nav {
  padding: 15px 0px 10px 0px;
}

.experience {
  display: flex;
  justify-content: center;
}

.experience li {
  padding-right: 5px;
}

h1 {
  font-family: "Yeseva One",
    serif;
  color: #706D54;
  font-size: 50px;
}

h2 {
  font-family: "Yeseva One",
    serif;
  color: #706D54;
  font-size: 30px;
  padding: 5px 0px 5px 0px;
}

nav a,
footer a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

a {
  color: #706D54;
}

a:hover {
  color: #DBDBDB;
}

ul {
  list-style-type: circle;

}

section {
  margin-bottom: 20px;
  padding: 10px;
}

section .edu {
  margin: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  border: 1px solid #706D54;
  padding: 8px;
}

th {
  color: #706D54;
}

.section-header {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;

}

.sub-header {
  font-weight: bold;
  text-align: center;
}

p,
strong {
  padding: 10px 0px 10px 0px;
}



mark {
  background-color: #DBDBDB;
}

footer {
  padding-top: 10px;
  text-align: center;
}

footer .sig {
  padding-top: 10px;
  color: #706D54;
}